.dart_tool/
.packages
.pub/
build/
flutter_*.png
*.iml
.idea/
.metadata
*.lock
.dart_tool
packages
pubspec.lock
**/doc/api/
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.env
.DS_Store
# API keys
lib/core/config/api_config.dart
